[private_info]
build_flags =
    ; WiFi設定
    -D WIFI_SSID = \"your-wifi-ssid\"
    -D WIFI_PASS = \"your-wifi-password\"
    -D WIFI_HOST = \"profarm-esp32\"
    -D WIFI_IP = {192, 168, 1, 100}
    -D WIFI_GATEWAY = {192, 168, 1, 1}
    -D WIFI_SUBNET = {255, 255, 255, 0}
    -D WIFI_DNS = {8, 8, 8, 8}
    ; スプレッドシート設定
    -D GAS_URL=\"https://script.google.com/macros/s/******************/exec\"
